body {
  font-family: "Poppins";
  color: #212529;
}

a {
  color: #eb5d1e;
  text-decoration: none;
}

a:hover {
  color: #ef7f4d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #eb5d1e;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ee7843;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #7a6960;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#main {
  margin-top: 72px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #4e4039;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #eb5d1e;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #eb5d1e;
  color: #fff;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 50px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #ee7843;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #eb5d1e;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #7a6960;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed !important;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(78, 64, 57, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #7a6960;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #eb5d1e;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #eb5d1e;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: #f5f9fe;
  border-bottom: 2px solid #fcebe3;
  margin: 72px 0 -72px 0;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #06187e;
}

#hero h2 {
  color: #06187e;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#hero h3 {
  color: #06187e;
  margin: 15px 0 0 0;
  font-size: 12px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: #f8f3f3;
  background: #eb5d1e;
}

#hero .btn-get-started:hover {
  background: #ef7f4d;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: calc(100vh - 72px);
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@media (max-height: 600px) {
  #hero {
    height: 120vh;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #fef8f5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  color: #19345e;
}

.section-title h2 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0;
  line-height: 1px;
  margin-bottom: 15px;
  color: #19345e;
}

.section-title p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #4e4039;
}

.section-title p::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 2px;
  background: #eb5d1e;
  bottom: 0;
  left: calc(50% - 30px);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h3 {
  font-weight: 700;
  font-size: 34px;
  color: #ffffff !important;
}

.about i {
  font-size: 48px;
  margin-top: 15px;
  color: #f39e7a;
}

.about p {
  font-size: 15px;
  color: white !important;
}

.about .img-container {
  position: relative;
  font-family: Arial;
  justify-content: center;
}

.text-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #022a74;
  opacity: 0.5;
  text-align: center;
  /* background-blend-mode: ; */
  /* filter: brightness(50%); */
}

.text-container {
  margin: 100px;
  color: white !important;
}

@media (max-width: 991px) {
  .about .about-img img .text-block .text-container .about h3 .about p .about .img-container .about i {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .about .about-img img .text-block .text-container .about h3 .about p .about .img-container .about i {
    max-width: 90%;
  }
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.feature-container {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 100px;
  opacity: 1;
  border: 1px solid #aaaaaa;
  width: 750px;
  height: 100px;
  border: 10px;
  padding: 30px;
  margin: auto;
}

.feature .icon-box {
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.feature h4 {
  color: #19345e;
}

.feature .icon-box:hover {
  transform: translateY(-5px);
  border-color: #ef7f4d;
}

.feature .icon img {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #ef7f4d;
  float: left;
}

@media (max-width: 991px) {
  .feature-container .feature .icon-box .icon img {
    max-width: 70%;
  }
}

@media (max-width: 767px) {
  .feature-container .feature .icon-box .icon img {
    max-width: 90%;
  }
}

/* Section-title */
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}

.section-title h2::before,
.section-title h2::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #eb5d1e;
  display: inline-block;
}

.section-title h2::before {
  margin: 0 15px 10px 0;
}

.section-title h2::after {
  margin: 0 0 10px 15px;
}

.section-title p {
  margin: 15px 0 0 0;
}

/*--------------------------------------------------------------
# Meet Our Teams
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 30px 0;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}

.team span,
.team h4 {
  color: white;
}

.team .img-prof {
  outline: 10px solid orange;
  outline-offset: -100px;
  border: 50px solid transparent;
  border-width: 70px 70px 110px 110px;
  /* margin: -55px 0 0 -55px; */
}

.team .img-profmid {
  outline: 10px solid #19345e;
  outline-offset: -100px;
  border: 50px solid transparent;
  border-width: 70px 70px 110px 110px;
  /* margin: -55px 0 0 -55px; */
}

.text-after-img h2 {
  text-align: center;
  font: normal normal bold 20px/24px Roboto;
  letter-spacing: 0px;
  color: #f47522;
  opacity: 1;
}

.text-after-img h4 {
  text-align: center;
  font: normal normal normal 15px/24px Poppins;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
}

/*--------------------------------------------------------------
# Latest Blogs
--------------------------------------------------------------*/
.article-title {
  text-align: left;
  font: normal normal bold 20px/24px Roboto;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
}

.article-date {
  text-align: right;
  font: normal normal normal 14px/24px Poppins;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.article-text {
  text-align: left;
  font: normal normal normal 14px/24px Poppins;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
}

.article-writer {
  text-align: left;
  font: normal normal normal 14px/24px Poppins;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

/*--------------------------------------------------------------
# about our team
--------------------------------------------------------------*/
.about-team {
  width: 100%;
  background: #f5f9fe;
  border-bottom: 2px solid #fcebe3;
  margin: 72px 0 -72px 0;
}

.ppl-one-job {
  text-align: left;
  font: normal normal bold 30px/12px Muli;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
  margin-left: 50px;
}

.about-team .img-prof {
  outline: 10px solid orange;
  outline-offset: -100px;
  border: 50px solid transparent;
  border-width: 70px 70px 110px 110px;
}
.about-team .img-profmid {
  outline: 10px solid #19345e;
  outline-offset: -100px;
  border: 50px solid transparent;
  border-width: 70px 70px 110px 110px;
}
.about-team .education {
  margin-left: 100px;
  color: #19345e;
  line-height: 30px;
  font-family: "Poppins";
}
.about-team .experience {
  margin-left: 100px;
  color: #19345e;
  line-height: 30px;
  font-family: "Poppins";
}

.about-team .education h3 {
  text-align: left;
  font: normal normal bold 25px/12px Muli;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
}

.about-team .experience h3 {
  text-align: left;
  font: normal normal bold 25px/12px Muli;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
}

#footer .logo-footer {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
